<mat-card>
    <mat-card-content>
        <h2>
            Passengers DashBoard
        </h2>
        <table class="passenger-table" >
         <tr>
            <th><b>Name</b></th>
            <th><b>Position</b></th>
            <th><b>Address</b></th>
            <th><b>PhoneNumber</b></th>
        </tr> 
        <tr *ngFor="let p of passenger">

                <td>{{p.name}}</td>
                <td>{{p.position}}</td>
                <td>{{p.address}}</td>
                <td>{{p.phoneNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>
